ul.pinboard {
    padding-left: 0;
    list-style-type: none;
    overflow: auto;
}

ul.pinboard.past {
    opacity: 0.6;
}

ul.pinboard li {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px #ddd;
    clear: both;
}

ul.pinboard li span.date {
    color: silver;
}

ul.pinboard li span.date::before {
    content: "(";
}

ul.pinboard li span.date::after {
    content: ")";
}

ul.pinboard li[class] {
    padding-left: 2em;
    text-indent: -1.5em;
}
ul.pinboard li.important::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1em' viewBox='0 0 1500 1000'%3E%3Cg fill='%23808080'%3E%3Cpath fill='%23808080' d='M500,990C229.4,990,10,770.6,10,500C10,229.4,229.4,10,500,10c270.6,0,490,219.4,490,490C990,770.6,770.6,990,500,990z M500,80C268,80,80,268,80,500c0,232,188,420,420,420c232,0,420-188,420-420C920,268,732,80,500,80z'/%3E%3Cpath d='M500,220c25.8,0,46.7,20.9,46.7,46.7V570c0,25.8-20.9,46.7-46.7,46.7c-25.8,0-46.7-20.9-46.7-46.7V266.7C453.3,240.9,474.2,220,500,220z'/%3E%3Cpath d='M500,686.7c25.8,0,46.7,20.9,46.7,46.7c0,25.8-20.9,46.7-46.7,46.7c-25.8,0-46.7-20.9-46.7-46.7C453.3,707.6,474.2,686.7,500,686.7z'/%3E%3C/g%3E%3C/svg%3E");
}
ul.pinboard li.urgent::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1em' viewBox='0 0 768 512'%3E%3Cpath fill='%23808080' d='M512,256C512,114.625,397.375,0,256,0S0,114.625,0,256s114.625,256,256,256S512,397.375,512,256z M32,256 C32,132.469,132.5,32,256,32s224,100.469,224,224c0,123.5-100.5,224-224,224S32,379.5,32,256z M256,256V64 c106.031,0,192,85.969,192,192H256z M125.438,162.125l-16,27.719l-27.719-16l16-27.719L125.438,162.125z M386.563,349.844l16-27.688 l27.719,16l-16,27.688L386.563,349.844z M189.844,109.438l-27.719,16l-16-27.719l27.719-16L189.844,109.438z M322.125,402.563 l27.719-16l16,27.719l-27.688,16L322.125,402.563z M272,416v32l-32,0.031V416H272z M189.844,402.563l-16,27.719l-27.719-15.969 l16.031-27.75L189.844,402.563z M125.438,349.844l-27.719,16.031l-16.031-27.688l27.75-16.031L125.438,349.844z M96,272l-32,0.031 l-0.063-32H96V272z'/%3E%3C/svg%3E");
}
ul.pinboard li.pinned::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1em' viewBox='0 0 714 476'%3E%3Cpath fill='%23808080' d='M476.235,119.133L357.158,0L206.936,134.654c-19.906-7.082-39.446-10.666-58.205-10.666 c-31.648,0-58.709,10.364-78.259,29.972l-10.574,10.607l115.305,115.298L0.023,455.045l21.213,21.213l175.18-175.181 l115.325,115.318l10.606-10.614c16.936-16.948,27.105-39.913,29.41-66.414c1.905-21.911-1.6-45.947-10.156-70.022L476.235,119.133z M434.942,120.257L323.736,244.33l-91.784-91.811L356.025,41.303L434.942,120.257z M310.52,372.75L103.519,165.76 c12.401-7.74,27.764-11.773,45.212-11.773c16.56,0,34.831,3.715,53.014,10.748l109.781,109.813 C326.418,312.819,325.869,348.207,310.52,372.75z'/%3E%3C/svg%3E");
}
